.nav-item {
  text-align:center;
  align-content:center;
  width: 50%;
  font-size: large;
  border-radius: 20px;
  border-color:cadetblue;
  border-bottom-style:ridge
}

.nav a {
  border-color: cadetblue;
  border-radius: 20px;

}

.nav-link:hover {
  background-color: cadetblue;
  border-radius: 15px;
}

.nav a:focus {
  background-color: white;
  border-radius: 20px;
  font-weight: 700;
}

  .containerUserMenu {
    width: 120%;
    margin-left: 10%;
  }
