.square {
  float: left;
  width: 96%;
  height: 90%;
  margin: 1%;
  font-family: 'K2D', sans-serif;
}

.tile {
  padding-top: 10%;
  padding-bottom: 10%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1px;
  width: 100px;
  height: 159px;
  float: left;
  align-content: center;
  vertical-align: central;
  text-align: center;
  font-size: 100%;
}


.tileCover1 {
  background-image: url("cover/cover_1.png");
  align-content: center;
  vertical-align: central;
  text-align: center;
}

.tileCover2 {
  background-image: url("cover/cover_2.jpg");
  align-content: center;
  vertical-align: central;
  text-align: center;
}
.tileCover3 {
  background-image: url("cover/cover_3.png");
  align-content: center;
  vertical-align: central;
  text-align: center;
}
p {
  align-content: center;
  vertical-align: central;
  text-align: center;
}
a :hover, p :hover {
  font-size: 120%;
}
